.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
  }
  
  .counter-text {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .counter-button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    width: 100%;
    max-width: 250px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    transition: background-color 0.3s ease;
  }
  
  .counter-button:hover {
    background-color: #e0e0e0;
  }
  

.increment-button {
    height: calc(2 * (15px + 60px)); /* Making the button taller */
    font-size: 32px; /* Making the '+' sign bigger for clarity */
    margin-bottom: 20px; /* Adding some spacing below the button to avoid accidental taps on other elements */
  }
  
  /* Add a subtle active state for feedback on press */
  .counter-button:active {
    background-color: #d0d0d0;
    transform: scale(0.97); /* Slightly scaling the button down */
  }
  
  
  input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;  /* added margin for spacing */
    width: 100%;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .saves-section {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
  }
  
  .saves-section h2 {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .saves-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .saves-section li {
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  